Flask==3.1.2
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.44
Werkzeug==3.1.3
requests
yfinance
pandas
numpy
scikit-learn
matplotlib
seaborn
joblib
nltk
beautifulsoup4
statsmodels
plotly

